#canvas {
    padding: 20px;
    margin: auto;
}

.achievement {
    width: 500px;
    padding: 17px;
    padding-left: 30px;
    text-align: left;
    list-style: none;
    height: 60px;
    margin: auto auto 10px auto;
}

.locked {
    filter: grayscale();
}