#levelGrid {
    padding: 20px;
    margin: auto;
    width: 600px
}

#levelButton {
    margin: auto;
    width: 120px;
    height: 80px;
}

.disabled {
    filter: grayscale();
    cursor: not-allowed;
}