.canves {
    padding: 0 40px;
    height: calc(100vh - 122px);
    display: flex;
    flex-direction: column;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.col {
    width: 32%;
}

.left {
    width: 70%;
    margin-left: 0;
}

.right {
    width: 30%;
    margin-left: 30px;
    margin-right: 0;
}

.instruction {
    white-space: pre-line;
    padding: 20px;
    margin-top: 0;
    min-height: 200px;
    text-align: left;
}

.result {
    margin-bottom: 0;
    padding: 20px;
    white-space: pre-line;
    padding: 20px;
    min-height: 200px;
    text-align: left;
}

.buttonGroup {
    margin: 0 auto;
}

.gamebutton {
    margin: 5px;
}

.dropzone {
    height: 100%;
}

.codeblock {
    margin: 5px auto;
    max-width: 100px;
}

.scrollble {
    overflow-x: hidden;
    overflow-y: hidden;
}

.popwindow {
    position: fixed;
    width: 500px;
    top: calc(50% - 100px);
    left: calc(50% - 250px);
    background-color: white;
    border: solid indigo;
    border-radius: 6px;
}

.windowtitle {
    margin-top: 5px;
    padding: 5px;
    border-bottom: solid indigo;
}

.windowcontent {
    padding: 10px;
}

.windowtext {
    padding: 5px;
    margin-bottom: 5px;
}
